.container-fluid .row a {
    width: 50%;
}

.col-sm-6 {
    height: 50vh;
    width: 100%;
    background-color: #201f1f;
}

footer {
    margin-top: 0px;
}

.error {
    color: red;
}

.error span {
    font-size: small;
}

.logo {
    margin-left: 180px;
    margin-top: 5px;
    height: 55px;
    width: 120px;
}

.formselect {
    display: none;
}

form {
    text-align: center;
}

input {
    border-radius: 3px;
    border: 1px solid black;
    margin: 3px;
    width: 80vh;
}

nav ul li strong span span {
    font-size: 40px;
    color: white;
}

#category {
    overflow-y: none;
}

.mynav {
    height: 100vh;
}

#butons {
    padding-top: 25vh;
}

.seldis {
    display: block;
    margin-left: 220px;
}

.ytlogo {
    margin-top: 7px;
}

.instalogo {
    margin-top: 10px;
}

.mainspan {
    margin-left: 160px;
}

nav ul li a:nth-child(2) {
    margin-top: 0px;
    margin-right: 10px;
}

nav ul li strong span {
    font-size: 40px;
    color: #ffc102;
}

h3 {
    margin: 20px;
    color: white;
}

select {
    margin: 5px;
    border-radius: 10px;
}

.formbutton {
    display: block;
    margin: 5px;
    margin-left: 450px;
    align-content: center;
}

.submitbutton {
    background-color: #ffc102;
}

span br {
    display: none;
}

@media screen and (max-width: 850px) {
    h3 {
        font-size: 20px;
    }
    .formbutton {
        display: block;
        margin: 5px;
        margin-left: 65px;
    }
    .seldis {
        display: block;
        margin-left: 110px;
    }
}

@media screen and (max-width: 766px) {
    .logo {
        margin-left: 90px;
        height: 44px;
        width: 100px;
    }
    nav ul li a:nth-child(2) {
        margin-top: 0px;
        margin-right: 20px;
    }
    nav ul li strong span {
        font-size: x-large;
    }
    nav ul li strong span span {
        font-size: x-large;
    }
    .mainspan {
        margin-left: 0px;
    }
    .ytlogo {
        margin-right: 10px;
        margin-top: 5px;
    }
    .formselect {
        display: block;
        margin-left: 80px;
    }
    .formbutton {
        display: none;
    }
    input {
        width: 50vh;
    }
    span br {
        display: block;
    }
    #butons {
        padding-top: 20vh;
    }
    .ytlogo {
        margin-right: 0px;
        margin-top: 5px;
    }
    .ytfooter {
        margin-right: 0px;
    }
    .social-media {
        margin-right: 10px;
        margin-top: 5px;
    }
}

.ytfooter {
    margin-right: 0px;
}

.social-media {
    margin-right: 20px;
}