.container-fluid .row a {
    width: 50%;
}

.col-sm-6 {
    height: 50vh;
    width: 100%;
    background-image: url(../resources/760x360.jpg);
}

footer {
    margin-top: 0px;
}

.logo {
    margin-left: 180px;
    margin-top: 5px;
    height: 55px;
    width: 120px;
}

nav ul li strong span span {
    font-size: 40px;
    color: white;
}

.mynav {
    height: 100vh;
}

#butons {
    padding-top: 25vh;
}

.ytlogo {
    margin-top: 7px;
}

.instalogo {
    margin-top: 10px;
}

.mainspan {
    margin-left: 160px;
}

nav ul li a:nth-child(2) {
    margin-top: 0px;
    margin-right: 10px;
}

nav ul li strong span {
    font-size: 40px;
    color: #ffc102;
}

@media screen and (max-width: 766px) {
    .logo {
        margin-left: 90px;
        height: 44px;
        width: 100px;
    }
    nav ul li a:nth-child(2) {
        margin-top: 0px;
        margin-right: 20px;
    }
    nav ul li strong span {
        font-size: x-large;
    }
    nav ul li strong span span {
        font-size: x-large;
    }
    .mainspan {
        margin-left: -60px;
    }
    .ytlogo {
        margin-right: 10px;
        margin-top: 5px;
    }
    #butons {
        padding-top: 20vh;
    }
}