.col-sm-3 {
    height: 50vh;
    width: 100%;
    padding: 5px;
    background-image: url(../images/760x360.jpg);
}

footer {
    margin-top: 0px;
}

.col-sm-3 .row:nth-child(1) {
    height: 35vh;
    background-color: black;
}

.col-sm-3 .row:nth-child(2) {
    height: 15vh;
    background-color: #ffc102;
}

.col-sm-3 {
    text-align: center;
}

.row .col-sm-3:nth-child(1) {
    padding-left: 5px;
}

.col-sm-3 .row:nth-child(1) {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-image: url(../images/356x257.png);
}

.col-sm-3 .row:nth-child(2) {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.row {
    margin: 0px;
}

.container-fluid {
    padding-left: 5px;
    padding-right: 5px;
}

.section1 {
    display: flex;
    flex-wrap: wrap;
}

.section {
    display: none;
}

.logo {
    margin-left: 180px;
    margin-top: 5px;
    height: 55px;
    width: 120px;
}

.mynav {
    height: 100vh;
}

#butons {
    padding-top: 20vh;
}

nav ul li strong span span {
    font-size: 40px;
    color: white;
}

.ytlogo {
    margin-top: 7px;
}

.instalogo {
    margin-top: 10px;
}

.mainspan {
    margin-left: 160px;
}

nav ul li a:nth-child(2) {
    margin-top: 0px;
    margin-right: 10px;
}

nav ul li strong span {
    font-size: 40px;
    color: #ffc102;
}

.col-sm-3 .row:nth-child(2) div:nth-child(1) {
    font-size: larger;
}

.col-sm-3 .row:nth-child(2) div:nth-child(2) {
    font-size: smaller;
    margin-top: -5px;
}

.col-sm-3 .row:nth-child(2) div:nth-child(3) {
    font-size: small;
}

@media screen and (max-width: 850px) {
    .col-sm-3 .row:nth-child(2) div:nth-child(1) {
        font-size: 15px;
    }
    .col-sm-3 .row:nth-child(2) div:nth-child(2) {
        font-size: 12px;
        margin-top: 0px;
    }
    .col-sm-3 .row:nth-child(2) div:nth-child(3) {
        font-size: 10px;
    }
    .col {
        padding: 0px;
    }
}

@media screen and (max-width: 766px) {
    .logo {
        margin-left: 90px;
        height: 44px;
        width: 100px;
    }
    nav ul li a:nth-child(2) {
        margin-top: 0px;
        margin-right: 20px;
    }
    nav ul li strong span {
        font-size: x-large;
    }
    nav ul li strong span span {
        font-size: x-large;
    }
    .mainspan {
        margin-left: -80px;
    }
    .ytlogo {
        margin-right: 10px;
        margin-top: 5px;
    }
    .row .col-sm-3:nth-child(2) {
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
        margin-top: 0px;
    }
    .row .col-sm-3:nth-child(3) {
        padding-top: 5px;
        margin-top: 0px;
    }
    .row .col-sm-3:nth-child(1) {
        padding-top: 5px;
        margin-top: 0px;
    }
    .col-sm-3 .row:nth-child(2) div:nth-child(1) {
        font-size: larger;
    }
    .col-sm-3 .row:nth-child(2) div:nth-child(2) {
        font-size: smaller;
        margin-top: -5px;
    }
    .col-sm-3 .row:nth-child(2) div:nth-child(3) {
        font-size: small;
    }
}