a.col-sm-6 {
    text-align: center;
    text-decoration: none;
    color: white;
    margin: 15px;
    height: 50vh;
}

a.col-sm-6 .container-fluid .row {
    background-image: url(../images/497x253.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    display: table;
    overflow: hidden;
    transition: 0.5s;
}

a.col-sm-6 .container-fluid .row .col-sm-12:nth-child(2) {
    display: none;
}

a.col-sm-6:hover .container-fluid .row {
    background-size: 120%;
    transition: 0.5s;
}

a.col-sm-6:hover .container-fluid .row .col-sm-12:nth-child(1) {
    display: none;
    transition: 1s;
}

a.col-sm-6:hover .container-fluid .row .col-sm-12:nth-child(2) {
    display: table-cell;
    vertical-align: middle;
    transition: 1s;
}

.col-sm-12 .col:nth-child(3) {
    font-size: small;
}

a.col-sm-6:hover .container-fluid .row {
    background-size: 120%;
    transition: 0.5s;
}

a.col-sm-6 .container-fluid .row .col-sm-12 {
    display: table-cell;
    vertical-align: middle;
    height: fit-content;
}

@media screen and (max-width: 766px) {
    a.col-sm-6 .container-fluid .row {
        height: 30vh;
    }
    a.col-sm-6 {
        height: 30vh;
    }
    a.col-sm-6:hover .container-fluid .row {
        background-size: 150%;
    }
    a.col-sm-6:hover .container-fluid .row .col-sm-12:nth-child(2) {
        display: none;
    }
    a.col-sm-6:hover .container-fluid .row .col-sm-12:nth-child(1) {
        display: table-cell;
    }
}