body {
    overflow-x: hidden;
    overflow-y: auto;
}

.col-sm-6 {
    height: 50vh;
    width: 100%;
    background-image: url(../resources/760x360.jpg);
}

.navbar {
    z-index: 100;
}

h1 {
    color: black;
    font-weight: 900;
    margin-top: 15%;
}

p {
    padding: 5vh;
    padding-left: 8vh;
    color: black;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0)
}

.img-fluid {
    width: 70%;
    border: 3px solid #ffc102;
}

h2 {
    color: white;
    font-weight: bolder;
    text-align: center;
}

footer {
    width: 100vw;
    position: static;
    margin-top: 127vh;
}

.logo {
    margin-left: 180px;
    margin-top: 5px;
    height: 55px;
    width: 120px;
}

nav ul li strong span span {
    font-size: 40px;
    color: white;
}

.mynav {
    height: 100vh;
}

#butons {
    padding-top: 25vh;
}

.ytlogo {
    margin-top: 7px;
}

.instalogo {
    margin-top: 10px;
}

.mainspan {
    margin-left: 160px;
}

nav ul li a:nth-child(2) {
    margin-top: 0px;
    margin-right: 10px;
}

nav ul li strong span {
    font-size: 40px;
    color: #ffc102;
}

.h11 {
    font-size: xx-large;
    font-weight: 900;
    font-style: italic;
    text-align: left;
    padding-top: 4vh;
    color: white;
    font-size: 50px;
}

.h11 span {
    text-align: right;
    color: black;
    background-color: #ffc102;
    padding-left: 140px;
    padding-right: 10px;
}

.col-sm-2 {
    padding: 0px;
}

.col-sm-3 {
    padding: 0px;
}

.col-sm-9 {
    padding: 0px;
}

.fluids {
    display: flex;
    flex-wrap: wrap;
}

.col-sm-2 .img-fluid {
    width: 100%;
}

.col-sm-2:nth-child(odd):hover {
    transform: none;
    z-index: 90000;
}

.col-sm-2:nth-child(even):hover {
    transform: none;
    z-index: 90000;
}

.margtop {
    margin-top: 126vh;
}

.position {
    position: absolute;
}

.positionfixed {
    position: fixed;
}

.margtop .col-sm-2 {
    padding: 0px;
}

.margtop1 .col-sm-2 {
    padding: 0px;
}

.bigcol img {
    border: none;
}

.col-sm-10 .row,
.col-sm-10 .row .col-sm-2 {
    height: 23vh;
}

.bigcol .col-sm-6,
.bigcol .col-sm-6 img {
    height: auto;
    margin-top: 12px;
    padding: 0px;
}

.bigcol .col-sm-6:nth-child(2) img {
    margin-left: 10px;
}

.row {
    margin: 0px;
}

.bigcol img .row {
    margin: 20px;
}

.col-sm-2,
.col-sm-6,
.col-sm-10 {
    padding: 0px;
}


/* .col-sm-2:nth-child(even) {
    transform: rotate(5deg);
}

.col-sm-2:nth-child(3n+2) {
    transform: rotate(7deg);
}

.col-sm-2:nth-child(odd) {
    transform: rotate(-5deg);
} */

.margtop1 {
    margin-top: 10vh;
}

@keyframes mainanimation {
    from {
        transform: translateY(200px);
        visibility: hidden;
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        visibility: visible;
        opacity: 1;
    }
}

.horizontal {
    padding: 0px;
    background-color: #ffc102;
}

.horizontal .halfwidth {
    width: 50%;
}

.horizontal .halfwidth:nth-child(1) {
    height: 100vh;
    background-color: #ffc102;
    z-index: 99;
}

.horizontal .halfwidth:nth-child(2) {
    height: 100vh;
    margin-left: 50%;
    background-color: #ffc102;
}

.horizontal-fluid {
    padding: 0px;
}

.mainanimationwe {
    animation-name: mainanimation;
    animation-duration: 1s;
    margin-left: 10vh;
}

.mainanimationand {
    animation-name: mainanimation;
    animation-duration: 1s;
    animation-delay: 0.5s;
}

.headerintro {
    margin-top: 5vh;
    text-align: center;
}

video {
    width: 100%;
    height: 100vh;
}

.parent {
    background-color: #ffc102;
    position: relative;
}

.bigcol {
    font-size: 0;
    height: 226vh;
    width: 50vw;
    /* position: fixed; */
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 22vh 22vh 22vh 22vh 22vh 22vh 22vh 22vh 22vh 22vh 22vh 22vh 22vh 22vh;
    grid-gap: 5px;
    grid-auto-flow: dense;
    /* grid-gap: 10px; */
    top: 0px;
    bottom: 0;
    overflow-y: hidden;
    margin-bottom: -10px;
    overflow-x: hidden;
    margin-top: 5px;
    background-color: #ffc102;
}

.bigcol .item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item .img-fluid {
    width: 100%;
    height: 100%;
}

.bigcol .item:nth-child(1) {
    grid-row: span 3;
    grid-column: span 4;
}

.bigcol .item:nth-child(4) {
    grid-row: span 2;
    grid-column: span 2;
}

.bigcol .item:nth-child(5) {
    grid-row: span 3;
    grid-column: span 2;
}

.bigcol .item:nth-child(6) {
    grid-row: span 1;
    grid-column: span 2;
}

.bigcol .item:nth-child(8) {
    grid-row: span 2;
    grid-column: span 1;
}

.bigcol .item:nth-child(10) {
    grid-row: span 1;
    grid-column: span 2;
}

.bigcol .item:nth-child(11) {
    grid-row: span 2;
    grid-column: span 1;
}

.bigcol .item:nth-child(12) {
    grid-row: span 2;
    grid-column: span 3;
}

.bigcol .item:nth-child(18) {
    grid-row: span;
    grid-column: span;
}

.bigcol-2 {
    font-size: 0;
    height: 60vh;
    width: 100vw;
    /* position: fixed; */
    display: grid;
    grid-template-columns: 11% 11% 11% 11% 11% 11% 11% 11% 11% 11% 11%;
    grid-template-rows: 33.33% 33.33% 33.33%;
    grid-gap: 5px;
    grid-auto-flow: dense;
    /* grid-gap: 10px; */
    top: 0px;
    bottom: 0;
    overflow-y: hidden;
    margin-bottom: -10px;
    overflow-x: scroll;
}

.bigcol-2 .item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item .img-fluid {
    width: 100%;
    height: 100%;
}

.bigcol-2 .item:nth-child(1) {
    grid-row: span 3;
    grid-column: span 2;
}

.bigcol-2 .item:nth-child(2) {
    grid-row: span 1;
    grid-column: span 2;
}

.bigcol-2 .item:nth-child(3) {
    grid-row: span 2;
    grid-column: span 1;
}

.bigcol-2 .item:nth-child(4) {
    grid-row: span 2;
    grid-column: span 2;
}

.bigcol-2 .item:nth-child(6) {
    grid-row: span 1;
    grid-column: span 2;
}

.bigcol-2 .item:nth-child(10) {
    grid-row: span 2;
    grid-column: span 3;
}

.bigcol-2 .item:nth-child(11) {
    grid-row: span 2;
    grid-column: span 1;
}

.bigcol-2 .item:nth-child(13) {
    grid-row: span 1;
    grid-column: span 2;
}

.bigcol-2 .item:nth-child(14) {
    grid-row: span 1;
    grid-column: span 2;
}

.margright {
    margin-left: 50%;
}

.margtop:nth-child(1) .row:nth-child(3) {
    margin-left: 50%;
}

.margleft {
    margin-right: 50%;
    margin-left: 0px;
}

@media screen and (max-width: 850px) {
    .headerintro {
        margin-top: 2.5vh;
    }
    .img-fluid {
        width: 100%;
        height: auto;
        padding: 0px;
        align-content: flex-start;
    }
    p {
        padding: 2vh;
    }
    .margtop {
        margin-top: 0px;
    }
    .margtop1 {
        margin-top: 10vh;
    }
    .h11 {
        font-size: xx-large;
        padding-top: 4vh;
    }
    .h11 span {
        padding-left: 80px;
    }
    h1 {
        font-size: medium;
    }
}

@media screen and (max-width: 766px) {
    .margtopmobile {
        margin-top: 10vh;
    }
    .logo {
        margin-left: 90px;
        height: 44px;
        width: 100px;
    }
    nav ul li a:nth-child(2) {
        margin-top: 0px;
        margin-right: 20px;
    }
    nav ul li strong span {
        font-size: x-large;
    }
    nav ul li strong span span {
        font-size: x-large;
    }
    .mainspan {
        margin-left: -40px;
    }
    .ytlogo {
        margin-right: 10px;
        margin-top: 5px;
    }
    .ytlogo {
        margin-right: 0px;
        margin-top: 5px;
    }
    .ytfooter {
        margin-right: 0px;
    }
    .social-media {
        margin-right: 10px;
        margin-top: 5px;
    }
    h2 {
        font-size: large;
    }
    h1 {
        font-size: x-large;
        margin-top: 30px;
    }
    #we {
        padding: 0px;
    }
    .bigcol {
        width: 100vw;
    }
    .headerintro {
        margin-top: -20px;
    }
    p {
        padding: 0vh;
        padding-top: 2vh;
    }
    .img-fluid {
        width: 100%;
        height: auto;
    }
    .margtop {
        margin-top: 10vh;
    }
    .h11 {
        font-size: xx-large;
        font-weight: 900;
        text-align: center;
        padding-top: 3vh;
    }
    .h11 br {
        display: none;
    }
    .h11 span {
        padding-left: 10px;
    }
    .col-sm-2:nth-child(odd):hover {
        transform: none;
    }
    .col-sm-2:nth-child(even):hover {
        transform: none;
    }
    .margtop1 {
        margin-top: 0vh;
    }
    .col-sm-10 .row,
    .col-sm-10 .row .col-sm-2 {
        height: auto;
    }
    .horizontal .halfwidth {
        width: 100%;
        background-color: #ffc102;
    }
    .horizontal .halfwidth:nth-child(1) {
        position: static;
        height: auto;
    }
    .horizontal .halfwidth:nth-child(2) {
        margin-left: 0px;
    }
    .horizontal {
        height: auto;
    }
    .horizontal:nth-child(2) {
        margin-top: 100vh;
    }
    .bigcol {
        display: grid;
        grid-template-columns: 33.33% 32% 32%;
        grid-template-rows: 8% 8% 8% 8% 8% 8% 8% 8% 8% 8% 8% 8% 8% 8%;
        overflow-x: hidden;
        height: auto;
        margin-left: 0px;
    }
    video {
        height: auto;
        width: 100%;
    }
    .row {}
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.ytfooter {
    margin-right: 0px;
}

.social-media {
    margin-right: 20px;
}