.col-sm-6 {
    height: 50vh;
    width: 100%;
    background-image: url(../resources/760x360.jpg);
}

h1 {
    color: #ffc102;
    font-weight: bolder;
    margin-top: 10px;
}

p {
    padding: 5vh;
    padding-left: 10vh;
    color: white;
}

.img-fluid {
    width: 70%;
    height: 45vh;
    border: 3px solid #ffc102;
}

h2 {
    color: white;
    font-weight: bolder;
    text-align: center;
}

footer {
    margin-top: 180px;
}

.logo {
    margin-left: 180px;
    margin-top: 5px;
    height: 55px;
    width: 120px;
}

nav ul li strong span span {
    font-size: 40px;
    color: white;
}

.mynav {
    height: 100vh;
}

#butons {
    padding-top: 25vh;
}

.ytlogo {
    margin-top: 7px;
}

.instalogo {
    margin-top: 10px;
}

.mainspan {
    margin-left: 160px;
}

nav ul li a:nth-child(2) {
    margin-top: 0px;
    margin-right: 10px;
}

nav ul li strong span {
    font-size: 40px;
    color: #ffc102;
}

.h11 {
    font-size: xx-large;
    font-weight: 900;
    font-style: italic;
    text-align: left;
    padding-top: 4vh;
    color: white;
    font-size: 50px;
}

.h11 span {
    text-align: right;
    color: black;
    background-color: #ffc102;
    padding-left: 140px;
    padding-right: 10px;
}

.col-sm-4 {
    padding: 0px;
}

.col-sm-3 {
    padding: 0px;
}

.col-sm-9 {
    padding: 0px;
}

.fluids {
    display: flex;
    flex-wrap: wrap;
}

.col-sm-4 .img-fluid {
    width: 100%;
    border: 20px solid white;
}

.col-sm-4:nth-child(odd):hover {
    transform: none;
    z-index: 90000;
}

.col-sm-4:nth-child(even):hover {
    transform: none;
    z-index: 90000;
}

.margtop .col-sm-4 {
    padding: 0px;
}

.margtop1 .col-sm-4 {
    padding: 0px;
}

.col-sm-4:nth-child(even) {
    transform: rotate(5deg);
}

.col-sm-4:nth-child(3n+2) {
    transform: rotate(7deg);
}

.col-sm-4:nth-child(odd) {
    transform: rotate(-5deg);
}

.margtop1 {
    margin-top: 10vh;
}

@keyframes mainanimation {
    from {
        transform: translateY(200px);
        visibility: hidden;
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        visibility: visible;
        opacity: 1;
    }
}

.mainanimationwe {
    animation-name: mainanimation;
    animation-duration: 1s;
}

.mainanimationand {
    animation-name: mainanimation;
    animation-duration: 1s;
    animation-delay: 0.5s;
}

.headerintro {
    margin-top: 5vh;
    text-align: center;
}

@media screen and (max-width: 850px) {
    .headerintro {
        margin-top: 2.5vh;
    }
    .img-fluid {
        width: 100%;
        height: auto;
        padding: 0px;
        align-content: flex-start;
    }
    p {
        padding: 2vh;
    }
    .margtop {
        margin-top: 0px;
    }
    .margtop1 {
        margin-top: 10vh;
    }
    .h11 {
        font-size: xx-large;
        padding-top: 4vh;
    }
    .h11 span {
        padding-left: 80px;
    }
}

@media screen and (max-width: 766px) {
    .logo {
        margin-left: 90px;
        height: 44px;
        width: 100px;
    }
    nav ul li a:nth-child(2) {
        margin-top: 0px;
        margin-right: 20px;
    }
    nav ul li strong span {
        font-size: x-large;
    }
    nav ul li strong span span {
        font-size: x-large;
    }
    .mainspan {
        margin-left: -40px;
    }
    .ytlogo {
        margin-right: 10px;
        margin-top: 5px;
    }
    .ytlogo {
        margin-right: 0px;
        margin-top: 5px;
    }
    .ytfooter {
        margin-right: 0px;
    }
    .social-media {
        margin-right: 10px;
        margin-top: 5px;
    }
    h2 {
        font-size: large;
    }
    h1 {
        font-size: x-large;
    }
    .headerintro {
        margin-top: -20px;
    }
    p {
        padding: 0vh;
        padding-top: 2vh;
    }
    .img-fluid {
        width: 100%;
        height: auto;
    }
    .margtop {
        margin-top: -180px;
    }
    .h11 {
        font-size: xx-large;
        font-weight: 900;
        text-align: center;
        padding-top: 3vh;
    }
    .h11 br {
        display: none;
    }
    .h11 span {
        padding-left: 0px;
    }
    .col-sm-4:nth-child(odd):hover {
        transform: none;
    }
    .col-sm-4:nth-child(even):hover {
        transform: none;
    }
    .col-sm-4:nth-child(even) {
        transform: rotate(5deg);
    }
    .col-sm-4:nth-child(odd) {
        transform: rotate(-5deg);
    }
    .col-sm-4 .img-fluid {
        width: 95%;
        border: 15px solid white;
    }
    .margtop1 {
        margin-top: 0vh;
    }
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.ytfooter {
    margin-right: 0px;
}

.social-media {
    margin-right: 20px;
}