.container-fluid .row a {
    width: 50%;
}

.col-sm-6 {
    height: 50vh;
    width: 100%;
    background-image: url(../resources/760x360.jpg);
}

h1 {
    color: #ffc102;
    font-weight: bolder;
    margin-top: 10px;
}

p {
    padding: 5vh;
    color: white;
    text-align: left;
}

.img-fluid {
    width: 60%;
    padding: 10px;
    align-content: flex-start;
    border: 3px solid #ffc102;
}

h2 {
    color: white;
    font-weight: bolder;
    text-align: center;
}

footer {
    margin-top: 0px;
}

.logo {
    margin-left: 180px;
    margin-top: 5px;
    height: 55px;
    width: 120px;
}

nav ul li strong span span {
    font-size: 40px;
    color: white;
}

.mynav {
    height: 100vh;
}

#butons {
    padding-top: 25vh;
}

.ytlogo {
    margin-top: 7px;
}

.instalogo {
    margin-top: 10px;
}

.mainspan {
    margin-left: 160px;
}

nav ul li a:nth-child(2) {
    margin-top: 0px;
    margin-right: 10px;
}

nav ul li strong span {
    font-size: 40px;
    color: #ffc102;
}

@media screen and (max-width: 850px) {
    .headerintro {
        margin-top: 2.5vh;
    }
    .img-fluid {
        width: 100%;
        padding: 0px;
        align-content: flex-start;
    }
    p {
        padding: 2vh;
    }
}

@media screen and (max-width: 766px) {
    .logo {
        margin-left: 90px;
        height: 44px;
        width: 100px;
    }
    nav ul li a:nth-child(2) {
        margin-top: 0px;
        margin-right: 20px;
    }
    nav ul li strong span {
        font-size: x-large;
    }
    nav ul li strong span span {
        font-size: x-large;
    }
    .mainspan {
        margin-left: -40px;
    }
    .ytlogo {
        margin-right: 10px;
        margin-top: 5px;
    }
    .ytlogo {
        margin-right: 0px;
        margin-top: 5px;
    }
    .ytfooter {
        margin-right: 0px;
    }
    .social-media {
        margin-right: 10px;
        margin-top: 5px;
    }
    h2 {
        font-size: large;
    }
    h1 {
        font-size: x-large;
    }
    .headerintro {
        margin-top: 10px;
    }
}

.ytfooter {
    margin-right: 0px;
}

.social-media {
    margin-right: 20px;
}